/* CSS Document */
@charset "utf-8";
body { 
	background: linear-gradient(-45deg, #F2F2F2 25%, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 0, #F2F2F2 75%, #F5F5F5 0);
	background-size: 100px 100px;
}
hr{
	border: 2px solid #C7D1C1;
}
/*设置导航菜单的格式*/
#menu li {
	display:inline-block;
	margin: 5px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	text-align: right;
	height: 40px;
	z-index: 4;
	width: 100%;
	padding: 0;
	margin:0;
}
/*大标题部分*/
.slideDown{
	height: 300px;
}
.section{
	text-align:center;
}
.title{
	color: blue;
	font-size: 30px;
	line-height:1.2;
}
.title_en{
	color: green;
	font-size: 20px;
	transition: transform 2s;
}
/*首页*/
.intro{
	font-size: 24px;
	line-height: 30px;
	clear: both;
}
#myphoto{
	border-radius: 75px;
	width: 150px;
	height: 150px;
}
#proverb{
	font-size: 25px;
	font-style: oblique;
	width: 25px;
	height: 35px;
	margin: 0 auto;
	overflow: hidden;
	transition: width 5s;
}
/*Skills*/
.container_skills {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.skills {
	float: left;
	width: 33%;
	height: 200px;
	/*			border: 1px solid white;*/
	/*			background-color: grey;*/
	text-align: center;
	/*			display: none;*/
}

/*About me*/
.container_tips {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.intro_me{
	font-size: 16px;
	line-height: 40px;
	clear: both;
}
.tips{
	font-size: 2em;
	font-family: Arial;
	width: 25%;
	color: grey;
	/*border: 1px solid blue;*/
	text-align: center;
	float: left;
	transition: transform 2s;
}
.tips:hover{
	transform: rotateY(360deg);
}
/*Demos*/
.demo_fixed
{
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	top: 15%;
}
.demo_info{
	margin: 0 auto;
	width: 100%;
	max-width:300px;
}
.demo_title{
	font-size: 30px;
}
.demo_intro{
	font-size: 20px;
}
.demo_pic{
	height: 205px;
	width: 300px;
	margin: 0 auto;
	border: 2px solid #C7D1C1;
}
.word_circle{
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: black;
	transition: transform 0.5s;
	margin: 0px;
	font-size: 30px;
	font-family: Arial;
	float: left;
}
.word_circle:hover
{
	transform: rotate(360deg);
	background:#BCC5EB;
}
/*返回按钮格式*/
.returntop{
	display:none;
	height: 66px;
	width: 70px;
	background:url(../img/bt_top.png) no-repeat;
	background-size:auto 100%;
	position:fixed;
	bottom: 0px;
	right: 0px;
	cursor:pointer;
	z-index:10;
}